header, footer {
    background-color: blue;
    color: white;
    padding: 1em;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    clear: left;
}

nav {
    background-color: bisque;
    padding: 1em;
}


.wrapper {
    display: flex;
}

.wrapper >div{
    flex: 1;
    text-align: center;
}


section {
    float: left;
    width: 65%;
    color: blue;
    height: 230px;
    padding: 1em;
}

aside {
    float: right;
    width: 25%;
    color: blue;
    height: 430px;
    padding: 1em;
}

article {
    float: left;
    width: 65%;
    color: blue;
    padding: 1em;
    height: 230px;    
}